*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.container{
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}
h1{
    color: darkgrey;
    margin-bottom: 20px;
    font-size: 2rem;
}
.board{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.list{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
    min-height: 400px;
}

list h2{
    color: grey;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.card{
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: grab;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:active{
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.list.over{
    background-color: #450909;
}